
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyCash - Dinheiro Livre</title>
</head>
<body>
    <h1>Dinheiro Livre</h1>

    <form method="post" action="{{ url_for('gerenciar_dinheiro') }}">
        <label for="opcao_dinheiro_livre">Escolha uma opção:</label>
        <select name="opcao_dinheiro_livre" id="opcao_dinheiro_livre">
            <option value="1">Adicionar dinheiro livre</option>
            <option value="2">Utilizar dinheiro livre</option>
            <option value="3">Visualizar saldo de dinheiro livre</option>
        </select>

        <br>

        <div id="input_valor_adicional" style="display:none;">
            <label>Digite o valor a ser adicionado como dinheiro livre:</label>
            <input type="text" name="valor_adicional">
        </div>

        <div id="input_valor_utilizado" style="display:none;">
            <label>Digite o valor a ser utilizado como dinheiro livre:</label>
            <input type="text" name="valor_utilizado">
        </div>

        <br>

        <input type="submit" value="Enviar">
    </form>

    <p>{{ mensagem }}</p>
    <p>Saldo de dinheiro livre disponível: {{ carteira_dinheiro_livre }}</p>
    <p><a href="{{ url_for('index') }}">Voltar ao menu principal</a></p>


</body>
</html>
